<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @element.name %>
</p>

<p>
  <strong>Symbol:</strong>
  <%= @element.symbl %>
</p>

<p>
  <strong>Number:</strong>
  <%= @element.number %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @element.weight %>
</p>
